# Ignore Visual Studio files
.vs/
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.vscode/
.vsconfig
*.nuspec

# Ignore build output
*/bin/
*/obj/

# Ignore NuGet packages
*/packages/

# Ignore MonoGame content build output
*/bin/*.xnb

# Ignore macOS specific files
.DS_Store

# Ignore ReSharper files
_ReSharper*/

# Ignore Rider files
.idea/

# Ignore build artifacts
*.swp
*.bak
*.bak.*
*.tmp
*.log
*.cache
*.vsix
*.log.*
